<html>
<script>

(function() {
  document.getElementById("file_input").onchange = function(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(!file){
      return alert("No file selected.");
    }
    getSignedRequest(file);
  };
})();  
  
  
  
</script>  
{% extends'DefaultTemplate.html' %}


<form  id="frmID" name="CommForm" method=POST enctype="multipart/form-data" onsubmit="return ValidateForm()" action="/CommunityFileHander">
<input type="file" accept=".xlsx" name="Communities" id="Communities" Value="Select Community List" size=30 >Community List<br>
<input type="file" accept=".xlsx" name="currentGoogle" id="currentGoogle" Value="Active Google Extended Ads" size=30 >Active Google Ads<br>
<input type="file" accept=".xlsx" name="currentBing" id="currentBing" Value="Active Bing Extended Ads" size=30 >Active Bing Ads<br>  
<input type="submit" name="submit" >  
</form> 


{% block content %}
{% endblock %}
</html>
