<html>
{%extends 'DefaultTemplate.html'%}
{% block content %}  
 

<!---<div class="littletop">{{CommonTag}}-{{pagetitle}} </div>-->  
<!--<div class="containerMain">-->
<!--<div class"littltop">-->  

<form  method=POST enctype="multipart/form-data" action="/BidOPUpload" >
<input type="file" name="sheet" id="sheet" size="60">
<input type="submit" name="submit" >  

</form> 
The Following Columns Must be Included In Bid Ops 
<p>Campaign | Ad group | Keyword | Bid	| Clicks |	CTR |	Avg. CPC	| Spend	| Conv.	| CPA	| Conv. rate	| Top Impr. share	| Absolute Top Impression Share	| Impr. share (IS)	| Qual. score	| IS lost to rank	| IS lost to budget	| Match type</p>
 
 

{% endblock %}
</html>
