<html>
{%extends 'DefaultTemplate.html'%}
{% block content %}

<p>BDX V1 Simple Portal</p>
<p>{{CacheBreakStamp}}</p>
 

The Data You Have Just Submitted has been merged to its respective training Sheet-Click below to view training Sheets.
 
Please Back up Training Sheets Regularly as they are suceptible to loss following Version Updates 
 

<a href="/BasisOfBidsMachine?ref={{CacheBreakStamp}}"><p>Bid Op Training Sheet - Click to View as Excel Sheet</p></a>
<a href="/BasisOfCTRMachine?ref={{CacheBreakStamp}}"><p>CTR Predict Training Sheet - Click to View as Excel Sheet</p></a> 




 
{% endblock %}
</html>
