<html>
{%extends 'DefaultTemplate.html'%}
{% block content %}  
 

<!---<div class="littletop">{{CommonTag}}-{{pagetitle}} </div>-->  
<!--<div class="containerMain">-->
<!--<div class"littltop">-->  

<form  method=POST enctype="multipart/form-data" action="/BidOPUpload" >
<input type="file" name="sheet" id="sheet" size="60">
<input type="submit" name="submit" >  
</form> 
<div>
<!---The Following Columns Must be Included In Bid Ops--->  
<div style="width:48%; float:left;">
<p>1. Campaign</p> 
<p>2. Ad group</p>
<p>3. Keyword</p>
<p>4. Bid/Max.CPC</p>
<p>5. Clicks </p>
<p>6.	CTR </p>
<p>7. Avg. CPC</p>	
<p>8. Spend/Cost	</p>
<p>9. Conv./Conversions	</p>
</div>
<div style="float:right; width:48%"> 
<p>10. CPA	</p>
<p>11. Conv. rate</p>	
<p>12. Top Impr. share	</p>
<p>13. Absolute Top Impression Share	</p>
<p>14. Impr. share (IS)	</p>
<p>15. Qual. score	</p>
<p>16. IS lost to rank</p>	
<p>17. IS lost to budget	</p>
<p>18. Match type</p>
</div> 
</div> 
 

{% endblock %}
</html>
