<html>
{% extends'DefaultTemplate.html' %}

{% block content %}

<div> 
<p><bold>COMMUNITY UPDATE OUTPUTS</bold></p> 
<hr> 
<p>GOOGLE</p>
<p> </p> 
<p><a href='https://bdx-api-link.herokuapp.com/GoogleKWSBMM?{{CacheBreakStamp}}'>Google SBMM Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleKWSB?{{CacheBreakStamp}}'>Google SB Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleKWSX?{{CacheBreakStamp}}'>Google SX Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSBMMA?{{CacheBreakStamp}}'>Google SBMM Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSBMMB?{{CacheBreakStamp}}'>Google SBMM Ad B</a></p> 
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSBMA?{{CacheBreakStamp}}'>Google SBroad Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSBMB?{{CacheBreakStamp}}'>Google SBroad Ad B</a></p> 
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSXA?{{CacheBreakStamp}}'>Google SX Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSXB?{{CacheBreakStamp}}'>Google SX Ad B</a></p>   
<p><a href=''>Extra Label for by-/ </a></p>
<hr>
<p> </p>
<p>Bing</p>
<p><a href='https://bdx-api-link.herokuapp.com/BingKWSBMM?{{CacheBreakStamp}}'>Bing SBMM Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com//BingKWSB?{{CacheBreakStamp}}'>Bing SB Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/BingKWSX?{{CacheBreakStamp}}'>Bing SX Keywords</a></p> 
<p><a href='https://bdx-api-link.herokuapp.com/BingAdSBMMA?{{CacheBreakStamp}}'>Bing SBMM Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/BingAdSBMMB?{{CacheBreakStamp}}'>Bing SBMM Ad B</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/BingAdSBA?{{CacheBreakStamp}}'>Bing SB Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/BingAdSBB?{{CacheBreakStamp}}'>Bing SB Ad B</a></p> 
<p><a href='https://bdx-api-link.herokuapp.com/BingAdSXA?{{CacheBreakStamp}}'>Bing SX Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/BingAdSXB?{{CacheBreakStamp}}'>Bing SX Ad B</a></p> 
<p><a href=''>Extra Label for by-/ </a></p> 
</div>

{% endblock %}
 </html>

