<html>
  <head>
<link rel="stylesheet" href="https://bdx-api-link.herokuapp.com/css">
</head>
<body>
<div class="littletop">{{CommonTag}}-{{pagetitle}} </div>  
<div class="containerMain">
<div class"littltop"><div="topOfForm"> {{pagetitle}}; Select Current Sheets</div>   
<form  method=POST enctype="multipart/form-data" action="/CommunityFileHander" >
<input type="file" name="Communities" id="Communities" Value=" Select Community List " size=60 >
<input type="file" name="currentGoogle" id="currentGoogle" Value=" Select Sheet Containing Active Google Extended Ads " size=60 >
<input type="file" name="currentBing" id="currentBing" Value=" Select Sheet Containing Active Bing Extended Ads " size=60 >  
<input type="submit" name="submit" >  
</form> 
</div>
</div>
</body>
</html>
