<html>
{% extends 'DefaultTemplate.html'%}
{% block content %}
<style>form {text-align:left} .centerinput{text-align:center} </style>


<p>BDX V1 Simple Portal Community Update</p>
<hr>  



<form  id="frmID" name="CommForm" method=POST enctype="multipart/form-data" onsubmit="return ValidateForm()" action="/CommunityFileHander">
<p><input type="file" accept=".xlsx" name="Communities" id="Communities" Value="Select Community List" size=30 >Community List</p>
<p><input type="file" accept=".xlsx" name="Attributes" id="Attributes" Value="Attributes" size=30 > Attributes List   </p>   
<p><input type="file" accept=".xlsx" name="currentGoogle" id="currentGoogle" Value="Active Google Extended Ads" size=30 >Active Google Ads RSA</p>
<p><input type="file" accept=".xlsx" name="currentBing" id="currentBing" Value="Active Bing Extended Ads" size=30 >Active Bing Ads RSA</p>
<br>  
Optional-- 
<p><input type="file" accept=".xlsx" name="currentGoogleETA" id="currentGoogleETA" Value="Active Google Extended Ads" size=30 >Active Google Ads ETA</p>
<p><input type="file" accept=".xlsx" name="currentBingETA" id="currentBingETA" Value="Active Bing Extended Ads" size=30 >Active Bing Ads ETA</p>    
<p class="centerinput"><input type="submit" name="submit" ></p>  
</form> 

{%endblock%}
</html>
