<html>
{% extends'DefaultTemplate.html'%}
{% block content %}

<div> 
<p><bold>COMMUNITY UPDATE OUTPUTS</bold></p> 
<hr> 
<p>GOOGLE</p>
<p> </p> 
<p><a href='/GKW?{{CacheBreakStamp}}'>Google Keywords All Match</a></p> 
<!----<p><a href='/GKW1?{{CacheBreakStamp}}'>Google Keywords All Match (csv)</a></p>----->  
<!----<p><a href='/GoogleKWSBMM?{{CacheBreakStamp}}'>Google SBMM Keywords</a></p>
<p><a href='/GoogleKWSB?{{CacheBreakStamp}}'>Google SB Keywords</a></p>
<p><a href='/GoogleKWSX?{{CacheBreakStamp}}'>Google SX Keywords</a></p>--->
<p><a href='/GADA?{{CacheBreakStamp}}'>Google All Match Ad A</a></p> 
<p><a href='/GADB?{{CacheBreakStamp}}'>Google All Match Ad B</a></p> 
<!----<p><a href='/GoogleAdSBMMA?{{CacheBreakStamp}}'>Google SBMM Ad A</a></p>
<p><a href='/GoogleAdSBMMB?{{CacheBreakStamp}}'>Google SBMM Ad B</a></p> 
<p><a href='/GoogleAdSBMA?{{CacheBreakStamp}}'>Google SBroad Ad A</a></p>
<p><a href='/GoogleAdSBMB?{{CacheBreakStamp}}'>Google SBroad Ad B</a></p> 
<p><a href='/GoogleAdSXA?{{CacheBreakStamp}}'>Google SX Ad A</a></p>
<p><a href='/GoogleAdSXB?{{CacheBreakStamp}}'>Google SX Ad B</a></p>--->   

<hr>
<p> </p>
<p>Bing</p>
<p><a href='/BKW?{{CacheBreakStamp}}'>Bing Keywords All Match</a></p> 
<!----<p><a href='/BingKWSBMM?{{CacheBreakStamp}}'>Bing SBMM Keywords</a></p>
<p><a href='/BingKWSB?{{CacheBreakStamp}}'>Bing SB Keywords</a></p>
<p><a href='/BingKWSX?{{CacheBreakStamp}}'>Bing SX Keywords</a></p>-->
<p><a href='/BADA?{{CacheBreakStamp}}'>Bing All Match Ad A</a></p>
<p><a href='/BADB?{{CacheBreakStamp}}'>Bing All Match Ad B</a></p> 
<!----<p><a href='/BingAdSBMMA?{{CacheBreakStamp}}'>Bing SBMM Ad A</a></p>
<p><a href='/BingAdSBMMB?{{CacheBreakStamp}}'>Bing SBMM Ad B</a></p>
<p><a href='/BingAdSBA?{{CacheBreakStamp}}'>Bing SB Ad A</a></p>
<p><a href='/BingAdSBB?{{CacheBreakStamp}}'>Bing SB Ad B</a></p> 
<p><a href='/BingAdSXA?{{CacheBreakStamp}}'>Bing SX Ad A</a></p>
<p><a href='/BingAdSXB?{{CacheBreakStamp}}'>Bing SX Ad B</a></p>---> 

</div>

{% endblock %}
 </html>

