<html>
{% extends'DefaultTemplate.html' %}

{% block content %}
<center>
<div> 
<p><bold>COMMUNITY UPDATE OUTPUTS</bold></p> 
<p><a href='https://bdx-api-link.herokuapp.com/GoogleKWSBMM?'>Google SBMM Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleKWSB?'>Google SB Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleKWSX?'>Google SX Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSBMMA?'>Google SBMM Ad A</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/GoogleAdSBMMB?'>Google SBMM Ad A</a></p> 
<p> </p>
<p> </p>
<p> </p>
<p><a href='https://bdx-api-link.herokuapp.com/BingKWSBMM?'>Bing SBMM Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com//BingKWSB?'>Bing SB Keywords</a></p>
<p><a href='https://bdx-api-link.herokuapp.com/BingKWSX?'>Bing SX Keywords</a></p> 
</div>
</center>
{% endblock %}
 </html>

