
body {color:grey
 margin-right: 20px;}
h1 {
            color:#fff
            margin-right: 20px
            font-family: Arial, Helvetica, Sans Serif;
       }
.containerMain
{
    background-color:brown;
    float:center;
    width:500px;
    height:500px;
    margin:auto;
   /*
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 200px;
   */
}
h1{}
body {background-color:black;}
