

.topOfForm{static:center;}

#form {
static:center;
margin-left:20px;  
    

}



#input[type='file']
{
    Border-radius:15px
}



a {color:white;}

.littletop {
    
    
    color:white;
    float:left;
    min-height:10px;
    background-color:#00aaff;
    width:100%;
    margin-bottom:15%;
    padding-top:10px;
    padding-left;10px
        
        
     
        
   }




.littletop2 {
    
    text-align:right;
    color:white;
    float:right;
    /*min-height:10px;*/
    background-color:#00aaff;
    /*width:50%;*/
    /*margin-bottom:30px;*/
    /*padding-top:10px;*/
    padding-right:10px;   
        
   }






.containerMain
{   text-align:center;
    color:white;
    background-color:#00aaff;
    float:center;
    width:50%;
    height:80%;
    margin:auto;
    padding-top:10px
        
   
}
body {background-color:#ffffff;}
