



form {
float:center;    
margin-left:100;
padding:auto; 
}



.littletop {

    background-color:#33aaff;
    float:center;
    width:500px;
    margin-bottom:30px;
 }



.containerMain
{
    background-color:#0077bb;
    float:center;
    width:500px;
    height:500px;
    margin:auto;
   
}
body {background-color:#ffffff;}
