{position:relative}



.topOfForm{relative:center;}

#form {
  position:relative;
  top:50px;
  margin-top:100px;
  padding-top:100px;

  }




#topOfForm{
  
position:relative;

margin-top:50px;    
  
}



#frmID{

position:relative;

margin-top:50px;    



}






input{
    Border-radius:15px
}

input[submit]{
    Border-radius:15px
}







a {color:black;}

.littletop {
    
    
    color:black;
    position:relative
    /*float:left;*/
    height:10%;
    background-color:#00aaff;
    width:100%;
    /*margin-bottom:30px;*/
    /*padding-top:5px;*/
    /*padding-left;10px*/
        
        
     
        
   }


.sm2
{
width:100%;
height:5%;
background-color:#ffffff;    
}









.littletop2 {
    
    text-align:right;
    color:white;
    float:right;
    /*min-height:10px;*/
    /*background-color:#00bb00;*/
     max-width:20%;
    /*margin-bottom:30px;*/
    /*padding-top:10px;*/
    /*padding-right:10px;*/
   /* padding-bottom:10px*/
    
        
   }



.leftWing
{
position:float;
float:left;
width:30%; 
background-color:ffffff;
height:80%;    
}





.containerMain
{   
    opacity:85%;
    position:float;
    float:left;
    border-radius:85%;
    text-align:center;
    color:black;
    background-color:#00ccc0;
    /*float:center;*/
    width:50%;
    height:80%;
    
        
    /*padding-top:1%*/
        
   
}
body {background-color:#ffffff;}
