<HTML>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  
<link rel="stylesheet" href='/css'>
<!---<link rel="shortcut icon" type="image/x-icon" href='{{url_for('static',filename='favicon.png') }}'>---->
<link rel="shortcut icon" type="image/x-icon" href='/static/favicon.ico'>  
  
  

  



</head>

<body>

<div class="littletop"><a href='/'>  BDX Paid Search Portal</a>  
<div class="littletop2"><a href="https://www.newhomesource.com/userprivacy">Privacy Policy and Cookies </a></div></div> 
  
  
<div class=leftWing><img src="/static/BDX-logo-large-transparent.png"></div>

<div class="containerMain">
<div class="sm2"></div>  
{% block content %}{% endblock %}
{{content}}
</div>

</body>
</HTML>


