<html>
{%extends 'DefaultTemplate.html'%}
{% block content %}

<p>BDX V1 Simple Portal</p>
<p><a href="SpendTrack">Spend Track Draft</a></p> 
<p>Community Updates Clear Old Keywords and Ads</p> 
<p><a href="CommunityUpdates">Community Updates(Generate New Community Keywords and Ads)</a></p>
<p>Keyword Optimisation Script/report</p>
<p>Statistical Significance Tool</p>
<p>Quality Score Analysis</p>
<p>Audience Optimisation</p>
<p>Auction Analysis</p> 
<p>TCPA Mod Tool</p>
<p>Budget Ops</p>
<p><a href="BidOps">Bid Ops</a></p>


 
{% endblock %}
</html>
