<html>
{% extends 'DefaultTemplate.html'%}
{% block content %}



<p>Login</p>
<hr>  



<form  id="frmID" name="LoginForm" method= enctype="multipart/form-data" onsubmit="" action="">
<p><input type="text" name="username" Value="User name or email or something"> determine a credential</p>
<p><input type="text" name="password" Value="password"> password probably </p>
<p><input type="submit" name="submit" ></p>  
</form> 
<p><a href="/l2">cheat button since password log isnt ready yet</a></p>  

{%endblock%}
</html>
