<html>
{% extends 'DefaultTemplate.html'%}
{% block content %}



<p>Login</p>
<hr>  



<form  id="frmID" name="LoginForm" method= enctype="multipart/form-data" onsubmit="" action="">
<p><input type="text" accept=".xlsx" name="Communities" id="Communities" Value="Select Community List" size=30 >username or email or something</p>
<p><input type="file" accept=".xlsx" name="currentGoogle" id="currentGoogle" Value="Active Google Extended Ads" size=30 >password probably</p>
<p><input type="submit" name="submit" ></p>  
</form> 
<p><a href="/l2">cheat button</a></p>  

{%endblock%}
</html>
