<html>
{% extends 'DefaultTemplate.html'%}
{% block content %}



<p>BDX V1 Simple Portal Community Update</p>
<hr>  


Google Form:
<form  id="frmID" name="CommForm" method=POST enctype="multipart/form-data" onsubmit="return ValidateForm()" action="/NovelCommunityFileHander">
<p><input type="file" accept=".xlsx" name="Communities" id="Communities" Value="Select Community List" size=30 >Community List</p>
<p><input type="file" accept=".xlsx" name="Attributes" id="Attributes" Value="Attributes" size=30 >Attributes List  </p>  
<p><input type="file" accept=".xlsx" name="currentGoogle" id="currentGoogle" Value="Active Google Extended Ads" size=30 >Active Google Ads</p>
<!--- <p><input type="file" accept=".xlsx" name="currentBing" id="currentBing" Value="Active Bing Extended Ads" size=30 >Active Bing Ads</p>  --->
<p><input type="submit" name="submit" ></p>  
</form> 

{%endblock%}
</html>
