<html>

{% extends 'DefaultTemplate.html'%}

{% block content %}

<!---<div display:grid;><p>some content</p>--->
<!------<<p>{{metrics}}</p></div>
<div style="background:white;">
Spend Track Compiled Data 
<iframe src="" color="white" height=100% width=50%;></iframe> 
Google Account Level Data 
<iframe src="/GoogleAccnts" color="white" height=100% width=100%;></iframe>
Bing Account Level Data 
<iframe src="" color="white" height=100% width=100%;></iframe></div>
<!------<iframe src="/test";></iframe>-----> 
<!---------{{metrics}}----->

<!-----<iframe src="/test" style"height: 100%;  width:100%" ></iframe>----->



<!---<p>some content</p>--->

 









{%endblock%}

</html>
